/* TYPOGRAPHY */
* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-weight: normal;
}

a {
    text-decoration: none;
}
a, p {
    color: var(--font-color);
}
li {
    list-style: none;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

img {
    object-fit: contain;
}

/* CONTAINER */

#container {
    position: relative;
    opacity: 0.3;
    transition: opacity 0.5s ease;
    z-index: 5;

    width: var(--col-width);
    margin-left: var(--col-margin-sides);
    margin-right: var(--col-margin-sides);

    max-width: var(--container-max-width);
}

header, footer, main {
    max-width: var(--container-max-width);
}

/* button */

button {
    background-color: rgb(0,0,0,0);
    outline: rgb(0,0,0,0);
    border: rgb(0,0,0,0);

    cursor: pointer;
}