:root {
    --vertical-margin: 3vh;
}

header {
    margin-bottom: var(--vertical-margin);
    margin-top: calc(var(--vertical-margin) + 2vh );
}

header img {
    width: calc(var(--col-width) * 0.75);
}

#container {
    opacity: 1;
    box-shadow: 0vw, 0vw, 1vw, red;
    margin-bottom: var(--vertical-margin);
}

/* back button */

#back-btn {
    font-size: 2rem;
    position: absolute;
    top: -5vh;
    left: 0%;
    
    
    display: inline-block; /* Ensures the size fits the content */
    line-height: normal; /* Resets the line-height to match the text */
}


h2 {
    border-bottom: 0.2vh solid white;
    padding-bottom: 0.6vh;
    width: 100%;
}