main#web-browser-content {
    background-image: url('/pc/media-files/images/PC_BACKGROUND.png');
    background-repeat: no-repeat;   
    background-size: contain;
    background-attachment: local;
}