/* HEADER */
h2 {
    border-bottom: none;
}

/* MAIN */

main img {
    width: 45vw;
    max-width: calc(var(--container-max-width) * 0.45);
    min-width: calc(var(--container-min-width) * 0.45);

    border: 1vw solid white;
    border-radius: 2px;
    margin-bottom: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    object-fit: cover;
}

main li:nth-child(odd)  {
    text-align: left;
}

main li:nth-child(even)  {
    text-align: right;
}

/* MEDIA QUERIES */

@media (max-width: 320px) {
    main img {
        border: calc(var(--container-min-width) * 0.01) solid white;
        margin-bottom: calc(var(--container-min-width) * 0.05);
        margin-right: calc(var(--container-min-width) * 0.02);
        margin-left: calc(var(--container-min-width) * 0.02);
    }
}
 
@media (min-width: 540px) {
    main img {
        border: calc(var(--container-max-width) * 0.01) solid white;
        margin-bottom: 5vh;
        margin-right: 2vw;
        margin-left: 2vw;
    }
}