#editable-box {
    border: none;      
    outline: none;     
    background: none;   
    text-decoration: none;   
}

#editable-box:focus {
    border: none;
    outline: none;
}

main p {
    margin-top: 3vh;
}