:root {
    /* general */

    --purple: rgb(96, 100, 252);
    --red: rgb(115, 0, 0);
    --blue: rgb(40, 69, 255);
    --green: rgb(67, 131, 49);
    --orange: rgb(172, 113, 2);
    --pink: rgb(148, 63, 171);
    --gray: rgb(248,244,244);
    --page-color: var(--purple);
    --background-color: black;

/* font*/
    --font-color: white;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.3rem;
    --p-font-size: 1rem;
/* img */
    --main-img-width: 20vw;
    --main-img-height: var(--main-li-width);
    --footer-img-width: 8vw;
    --footer-img-height: 8vw;
    
/* col */

    --col-height: 46.5vw;
    --col-width: 95vw;
    --col-margin-sides: calc((100vw - var(--col-width)) / 2);
    --col-margin-vertical: 2vw;

/* li  */
    --main-li-gaps-width: var(--col-margin-vertical);
    --main-li-width: 46.5vw;
    --main-li-height: 46.5vw;

    --footer-li-width: calc((var(--main-li-width) - var(--col-margin-vertical)) / 2); 
    --footer-li-height: var(--footer-li-width); 
    --footer-li-gaps-width:var(--col-margin-vertical);

/* header */
    --header-box-shadow: 0vw 0vw 1.5vw var(--page-color);

/* container */
    --container-min-width: 320px;
    --container-max-width: 540px;
    --container-box-shadow: none;

/* triangles */
    --triangle-base-width: 5vh;
    --triangle-sides-length: calc(var(--triangle-base-width) / 2);
}

/* MEDIA QUERY */
@media (max-width: 320px) {
    :root {
        --main-img-width: calc(var(--container-min-width) * 0.2);
        --main-img-height: calc(var(--container-min-width) * 0.2);
        --footer-img-width: calc(var(--container-min-width) * 0.08);
        --footer-img-height: calc(var(--container-min-width) * 0.08);
        --col-height: calc(var(--container-min-width) * 0.465);
        --col-width: calc(var(--container-min-width) * 0.95);
        --col-margin-sides: calc((320px - var(--col-width)) / 2);
        --col-margin-vertical: calc(var(--container-min-width) * 0.02);
        --footer-li-gaps-width:var(--col-margin-vertical);
        --main-li-width: calc(var(--container-min-width) * 0.465);
        --main-li-height: calc(var(--container-min-width) * 0.465);
    }
}

@media (min-width: 540px) {
    :root {
        --main-img-width: calc(var(--container-max-width) * 0.2);
        --main-img-height: calc(var(--container-max-width) * 0.2);
        --footer-img-width: calc(var(--container-max-width) * 0.08);
        --footer-img-height: calc(var(--container-max-width) * 0.08);
        --col-height: calc(var(--container-max-width) * 0.465);
        --col-width: calc(var(--container-max-width) * 0.95);
        --col-margin-sides: auto;
        --col-margin-vertical: calc(var(--container-max-width) * 0.02);
        --main-li-width: calc(var(--container-max-width) * 0.465);
        --main-li-height: calc(var(--container-max-width) * 0.465);

        --header-box-shadow: none;
        --container-box-shadow: 0vw 0vw 1.5vw var(--page-color);
    }
}